

<div class="container">
    <ui-view>
        <form class="form-horizontal" role="form" name="myForm">
            <div class = "form-group" ng-class="myForm.email.$invalid ? 'has-error' : 'has-success'">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" ng-model="userForm.email" required>

                    <div ng-messages="myForm.email.$error" role="alert">
                        <div ng-message="email">
                            <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span>Your email address is invalid</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group" ng-class="myForm.pwd.$invalid ? 'has-error' : 'has-success'">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password" ng-model="userForm.pwd" ng-minlength="8" required>

                    <div ng-messages="myForm.pwd.$error" role="alert">
                        <div ng-message="minlength">
                            <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span>Password field is too short</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group" ng-class="myForm.confpwd.$invalid ? 'has-error' : 'has-success'">
                <label class="control-label col-sm-2 .sr-only" for="confpwd"></label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="confpwd" name="confpwd" placeholder="Confirm password" ng-model="userForm.confpwd" compare-to="userForm.pwd"  required>
                    <div ng-messages="myForm.confpwd.$error" role="alert">
                        <div ng-message="compareTo">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span>Passwords don't match</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="#/finish" ui-sref="secondTask.finish" ng-disabled="myForm.$invalid" class="btn btn-primary">Send!</a>
                </div>
            </div>
        </form>
    </ui-view>
</div>